* {
    font-family: 'Domine', serif;
}

body {
    min-height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 48px;
}

footer {
    height: 25px;
    margin: auto 0 0 0; 
    width: 100%;
    text-align: center;
    background-color: grey;
}

.container {
    background-color: #efe951;
    width: 500px;
    height: 500px;
}

.toprow{
    display: flex;
}

.display_window {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    text-align: right;
    background-color: #92C80D;
    width: 350px;
    height: 100px;
    margin: 25px;
}

.subdisplay {
    border-bottom: solid #618508;
    height: 25px;
    text-align: left;
}

.display {
    text-align: center;
}

.clear {
    font-size: 32px;
    width: 100px;
    height: 100px;
    margin: 25px;
}

.content {
    display: flex;
}

.numpad {
    width: 375px;
    height: 350px;;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
}

.operators {
    width: 125px;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}
.btn,
.numbtn {
    background-color: #92C80D;
    border: solid 1px;
    font-size: 32px;
}